.button {
    background-size: 100% 100%;
    width: 50px;
    height: 40px;
    font-size: 2rem; 

    border: 4px groove lightgreen;
    padding: 2px;
    border-radius: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 0.6;
    border: 50px;
}

    
.buttonNO {
    background-size: 100% 100%;
    width: 50px;
    height: 40px;
    font-size: 2rem; 

    border: 4px groove red;
    padding: 2px;
    border-radius: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .buttonNO:hover {
        background-color: red; 
        color: white;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        opacity: 0.6;
        border: 50px;
    }